VITE_IDP_CLIENT_ID=idp_client_id
VITE_IDP_REDIRECT_URI=idp_redirect_uri
VITE_IDP_AUTHORIZE_URL=idp_authorize_url
VITE_IDP_TOKEN_URL=idp_token_url
VITE_API_BASE_URL=api_base_url
VITE_AMPLITUDE_API_KEY=amplitude_api_key

SWAGGER_USER=swagger_user
SWAGGER_PASSWORD=swagger_password
SWAGGER_URL=swagger_url